* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   background-color: #e9e9e9;
  font-family: Arial, sans-serif;
}

/* GRID */
.container {
   background-color: #e9e9e9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 40px;
}

/* CARD */
.card {
  background-color: #26282c;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;  /* VERY IMPORTANT */
}

.card:hover {
  transform: scale(1.05);
}

/* IMAGE */
.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* CONTENT */
.card-content {
  padding: 12px;
  color: white;
  text-align: center;
  flex-grow: 1;  /* IMPORTANT */
}

.card-content h3 {
  font-size: 15px;
  margin-bottom: 6px;
  line-height: 1.3;
}

.card-content p {
  font-size: 14px;
  color: #ccc;
}

.search-box {
  position: relative;
  width: 400px;
  margin: 20px auto;
}

.search-input {
  width: 100%;
  padding: 14px 50px 14px 20px;
  border-radius: 50px;
  border: 1px solid #333;
  background: #1e1e1e;
  color: white;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
}

.search-input::placeholder {
  color: #a0a0a0;
}
.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

.search-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: #3a3a3a;
  color: white;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-btn:hover {
  background-color: #007bff;
}
