
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #000;
  color: #fff;
  width: 100%;
  height: 600px;
}

.column {
  padding: 20px;
  border: 1px solid #ccc;
}

.column h2 {
    color: #ffe600;
}



.photo img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 0;
}

